.search-container {
    display: flex;
    justify-content: center;
}

.input-search {
    width: 80vw;
    height: 30px;
    margin: 30px 0;
}

@media (min-width: 768px) {
    .input-search {
        width: 450px;
    }
}